#content{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
#comm-form{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
#comment-container{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}
div:hover{
  border: 15px solid black;
  padding: 50px;
}
a:hover {
  background-color: yellow;
}
#song-container {
  margin-top: 20px;
}
img{
    width: 25%;
    height: auto;
}
